*{
	margin:0;
	padding:0;
}
body{
	background: url("../image/bg.png") repeat scroll 0 0 #E2E2DE;
	font-size: 1em;
    line-height: 1.4;
	font-family: sans-serif;
    margin: 0;
}

/*=====fixed top=============*/
#fixed_top{
	position: fixed;
	top:0;
	left:0;
	background:#4A4848;
	width:100%;
}
#top_nav{
	height:40px;
	list-style: none outside none;
    margin: 0;
    padding: 0;
}
#top_nav li{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0.05);
    border-image: none;
    border-style: solid;
    border-width: 0 1px 0 0;
    float: left;
}

#nav_global{
	text-transform: uppercase;
}
/*=====end top=============*/

/*=====wrapper=============*/
#wrapper{
	margin-top:40px;
	width:100%;
	background:#442334;
	min-width:;
}
/*=====begin main===============*/
#main{

}
#main_content{
	max-width:1000px;
	/*width:58.3333%; 传说黄金分割*/
	width:60%;/*660/1000*/
	background:#FAFAFA;
	float:left;
	height:800px;
	padding:1.25em 4.0%/*20/16 ,10/1000*/
}
.post_list{
	padding:2.25em 5.0%/*20/16 ,10/1000*/
}
/*=====begin main===============*/

/*=====begin sidebar===============*/
#sidebar{
	/*width:46.6666%; 传说黄金分割*/
	width:30%;/*360/1000*/
	background:;
	float:right;
	height:800px;
	padding:1.25em 1.0%;/*20/16, 10/1000*/
}
#side_content{
	position: fixed;
}
.about_ul {
	list-style: square outside none;
    padding-left: 1em;
}


/*=======end=============*/
#footer{
	clear:both;
}
