---
layout: default
---
<!--start: Wrapper-->
<div id="wrapper">
	
	<div id="filters">
		<ul class="option-set" data-option-key="filter">
			<li><a href="#filter" class="selected" data-option-value="*">All</a></li>
			<li>/</li>
			<li><a href="#filter" data-option-value=".nature">Nature</a></li>
			<li>/</li>
			<li><a href="#filter" data-option-value=".people">People</a></li>
			<li>/</li>
			<li><a href="#filter" data-option-value=".scenery">Scenery</a></li>
			<li>/</li>
			<li><a href="#filter" data-option-value=".world">World</a></li>
		</ul>
	</div>

	<!-- start: Portfolio -->
	<div id="wall" class="row-fluid">
		
		{% for post in site.posts %}
			<div class="span3 item {% for category in post.categories %}{{category}} {% endfor%}">
				<div class="picture">
					<div class="description">
						<p>
							{{post.excerpt}}
						</p>
					<div class="meta">
						<span><i class="fa-icon-calendar"></i>{{post.date|date_to_string}}</span>
						<span><i class="fa-icon-user"></i> <a href="#">lucas</a></span>
					</div>
					</div>
				</div>
			</div>
		{% endfor %}
		
	</div>
	<!-- end: Portfolio -->
</div>
<!-- end: Wrapper  -->