<!DOCTYPE html>
<html lang="zh">
<head>
	
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>geekeach{% if page.head_title %}-{{ page.head_title }}{% else %}-{{ page.title }}{% endif %}</title>
    {% if page.keywords %}
	<meta name="keywords" content="{{page.keywords}}" />
	{% else %}
	<meta name="keywords" content="geekeach,geek,coding,编程,IT,程序员,IT博客,IT分享,编程博客,java,ruby" />
	{% endif %}
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% else %}
	<meta name="description" content="geekeach,一个geek程序员的简洁博客,回归技术和写博客的本质,记录个人的编程成长笔记,发表个人博客文章,分享国内外一些优秀的编程文章,交流与学习">
	{% endif %}
	<meta name="author" content="{{ site.author.name }}">
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{site.basePath}}{{site.static}}/ref/prettify/prettify_desert.css">
	<link rel="stylesheet" href="{{site.basePath}}{{site.static}}/css/md.css" />
	<style>
		body { padding-top: 70px; font-family: "Helvetica Neue",'微软雅黑',Helvetica,Arial,sans-serif;	}
	</style>
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			  <span class="sr-only">geekeach</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{site.basePath}}">geekeach</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
			  <li class="active"><a href="{{site.basePath}}">archive</a></li>
			  <li><a href="{{ site.basePath }}/about.html">about</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			  <li><a href="{{ site.basePath}}/feed.xml"><img class="rollover" title="rss" alt="rss" src="{{site.basePath}}{{site.static}}/image/glyphicons_417_rss.png"/></a></li>
			</ul>
		</div>
	</nav>
	
		<div class="container">
		<div class="col-xs-12 col-md-9 col-sm-9">
			{{ content }}
		</div>
		<div class="col-md-3 col-sm-3 hidden-xs"></div>
		</div>
	<div class=""></div>
	<!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<script src="{{site.basePath}}{{site.static}}/ref/prettify/prettify.js"></script>
	<script src="{{site.basePath}}{{site.static}}/ref/analytics/analytics.js"></script>
	<script>
		$(document).ready(function(){
			$("pre").addClass("prettyprint");
			prettyPrint();
		});
	</script>
</body>
</html>
