<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<meta charset="utf-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<title>{{page.title}}</title>
	<meta content="width=device-width" name="viewport">
	<link href="/css/layout.css" rel="stylesheet">
</head>
<body>
	<div id="fixed_top">
		<div id="top_nav">
			
		</div>
	</div>
	<div id="wrapper">
		<div id="main">
			<div id="main_content">
				{{content}}
			</div>
			<div id="sidebar">
				<div id="side_content">
				<h4>about</h4>
				<ul class="about_ul">
					<li class="contact"><address><span class="author fn n">Jade Dominguez</span> - <span class="fn email">plusjade@gmail.com</span></address></li>
					<li class="github"><a rel="me" href="http://github.com/plusjade/">github.com/plusjade</a></li>
					<li class="twitter"><a rel="me" href="http://twitter.com/plusjade/">twitter.com/plusjade</a></li>
					<li class="rss"><a href="http://feeds.feedburner.com/">Subscribe to RSS Feed</a></li>
				</ul>
				</div>
			</div>
		</div>
		
	</div>
	<div id="footer">
		footer
	</div>
</body>
</html>
