---
layout: default
---
<!--start: Wrapper-->
<div id="wrapper">
			
	<!--start: Row -->
	<div class="row-fluid">
	
		<div class="posts span8">

			<!-- start: Post -->
			<div class="post first last">
				<div class="info">
					<span class="post-date">
						<span class="day">{{ page.date | date: "%d" }}</span>
						<span class="month-year">{{ page.date | date: "%m,%Y" }}</span>
					</span>
					<span class="post-icon standard"><i class="fa-icon-pencil"></i></span>
				</div>
				<div class="post-content">
					<div class="post-title">
						<h2>{{page.title}}</h2>
					</div>
					<div class="post-meta">
						<span><i class="fa-icon-user"></i>By <a href="#">lucas</a></span> 
					</div>
					<div class="post-description">
						{{content}}
					</div>
		
				</div>
			</div>
			<!-- end: Post -->
			<hr />
			
			<div class="clearfix"></div>
			<hr />
		</div>	

	
	</div>
	<!--start: Row -->

</div>
<!-- end: Wrapper  -->
